# {{ ansible_managed }}
urls-source freshrss
show-read-feeds no
reload-threads 100
auto-reload yes
freshrss-url "https://{{ freshrss_domain }}/api/greader.php"
freshrss-login "{{ freshrss_username }}"
freshrss-passwordeval "{{ freshrss_pass_command }}"
freshrss-flag-star "s"
freshrss-show-special-feeds "true"
bind-key j down feedlist
bind-key k up feedlist
bind-key j next articlelist
bind-key k prev articlelist
bind-key J next-feed articlelist
bind-key K prev-feed articlelist
bind-key j down article
bind-key k up article
# Typoe s+s+Enter to "star" an article
bind-key s edit-flags article
