# {{ ansible_managed }}
[calendars]

[[calendars]]
path = {{ vdirsyncer_directory }}/calendars/*
type = discover
color = white

[[holidays]]
path = {{ vdirsyncer_directory }}/calendars-ro/holidays
color = "white"
readonly = True
type = discover

[[birthdays]]
path = {{ vdirsyncer_directory }}/contacts/{{ carddav_address_book }}
readonly = True
color = "white"
type = birthdays

[locale]
timeformat = %H:%M
dateformat = %Y-%m-%d
longdateformat = %Y-%m-%d
datetimeformat = %Y-%m-%d %H:%M
longdatetimeformat = %Y-%m-%d %H:%M
firstweekday = 6 

[default]
highlight_event_days = True
show_all_days = False

[highlight_days]
method = fg

[view]
frame = width
theme = dark

